.cptch_slide {
    display: block !important;
}
.cptch_slide .cptch_label {
    display: block;
}

#cptch_slide_container {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    margin: 20px auto 15px auto;
    transition: all 0.3s;
    border-radius: 5px;
    background: #E7E7E7;
}
.cntctfrm_contact_form #cptch_slide_container p {
    line-height: 45px !important;
    text-align: center !important;
}
#cptch_slide_container p {
    margin: 0;
    line-height: 45px;
    font-size: 14px;
    text-align: center;
    color: #000000;
}
#cptch_slide_slider {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #1888F8;
    border-radius: 5px;
}
#cptch_slide_captcha_container .cptch_slider_arrow {
    position: relative;
    display: inline-block !important;
    padding: 3px !important;
    margin-top: 43% !important;
    margin-left: 39% !important;
    border: solid white !important;
    border-width: 0 3px 3px 0 !important;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.rtl #cptch_slide_captcha_container .cptch_slider_arrow {
    margin-right: 39% !important;
    margin-left: 0 !important;
    border-width: 3px 0 0 3px !important;
}
.cptch_success {
    background-color: #43b309 !important;
}
.cptch_success::after,
.cptch_loading::after {
    content: "";
    position: absolute;
}
.cptch_success::after {
    margin-left: 20%;
    margin-top: 20%;

    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;

    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.cptch_loading::after {
    margin-left: 30%;
    margin-top: 30%;
    width: 12px;
    height: 12px;
    border: 3px solid white;
    background-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;

    -webkit-animation: cptch_animate 6.0s linear infinite;
    animation: cptch_animate 6.0s linear infinite;
}

@keyframes bounce{
    0%{
        left: 2px;
    }
    20%{
        left: 30px;
    }
    50%{
        left: 0;
    }
    70%{
        left: 10px;
    }
    100%{
        left: 0;
    }
}
@keyframes bounce_rtl{
    0%{
        right: 2px;
    }
    20%{
        right: 30px;
    }
    50%{
        right: 0;
    }
    70%{
        right: 10px;
    }
    100%{
        right: 0;
    }
}

.bounce {
    position: relative;
    animation: bounce .6s linear;
}
.rtl .bounce {
    animation: bounce_rtl .6s linear;
}

@-webkit-keyframes cptch_animate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(2000deg)
    }
}
@keyframes cptch_animate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(2000deg)
    }
}
